 <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="NeuraExplain Suite">

    <test name="NeuraExplain Tests">
        <classes>
            <class name="neuraexplain.LoginTest"/>
            <class name="neuraexplain.RegisterTest"/>
            <class name="neuraexplain.ChatTest"/>
            <class name="neuraexplain.NewChatTest"/>
            <class name="neuraexplain.HistoryModeFilter"/>
            <class name="neuraexplain.WrongOTPTest"/>
        </classes>
    </test>

</suite>